[Unit]
Description=iNotify File Access Manager
After=syslog.target network.target

[Service]
Type=simple
Restart=true
ExecStart=/usr/local/bin/inotifyd -c /var/lib/inotifyd/kwgs.csv

[Install]
WantedBy=multi-user.target
